In [10]:
import pandas as pd
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [6]:
df = pd.read_csv("../src/experiments_results.csv")
df

,idataset,num_features,num_selected_features,base_score,selected_features_score,num_flowers,dataset,i
0,NaN,4862,4367,0.942249,0.955927,10,BASEHOCK,0
1,NaN,22283,11175,0.827586,0.931034,10,GLI_85,0
2,NaN,3289,2373,0.873832,0.894081,10,PCMAC,0
3,NaN,4322,4322,0.870488,0.900212,10,RELATHE,0
4,NaN,4862,4359,0.946809,0.963526,10,BASEHOCK,1
...,...,...,...,...,...,...,...,...
75,NaN,4322,3929,0.887473,0.904459,10,RELATHE,18
76,NaN,4862,4700,0.951368,0.957447,10,BASEHOCK,19
77,NaN,22283,11209,0.793103,0.965517,10,GLI_85,19
78,NaN,3289,2652,0.859813,0.900312,10,PCMAC,19
79,NaN,4322,2092,0.881104,0.895966,10,RELATHE,19

In [7]:
df = df.drop(["idataset"], axis = 1)

In [8]:
df.groupby(["dataset"])["selected_features_score"].mean()

dataset
BASEHOCK    0.956991
GLI_85      0.912069
PCMAC       0.891667
RELATHE     0.897134
Name: selected_features_score, dtype: float64

In [9]:
df.groupby(["dataset"])["base_score"].mean()

dataset
BASEHOCK    0.944301
GLI_85      0.746552
PCMAC       0.861449
RELATHE     0.870913
Name: base_score, dtype: float64